<!DOCTYPE html>
<html>

<head>
  <meta charset="utf8">
  <title>About page</title>
</head>

<body>

  {{> header}}

  <p>Scrum master reviews page created to see teams progres</p>
  <p>If you need help, got to ../help.html</p>

{{> footer}}

</body>

</html>
